on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
name: Link Checker
jobs:
  linkinator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: "**/*.md"
          markdown: true
          retry: true
          linksToSkip: "https://github.com/openjs-foundation/directory-private"
          urlRewriteSearch: "https://github.com/openjs-foundation/cross-project-council/blob/HEAD/"
          urlRewriteReplace: ""
